table, td{
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

#corpo{
    padding: 150px;
    margin-top: -50px;
}

table{
    left: -110px;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: lightpink;
}

th{
    font-size: 25px;
}

td{
    background-color: lightpink;
}

td:hover{
    opacity: 0.8;
}

td, th, tr{
    width: 50px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botão{
    width: 80px;
    text-align: center;
    text-decoration: none;
}