body{
    background-color: lightpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#corpo{
    padding: 100px;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(150, 131, 255);
}

h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(5, 7, 117)
}

table, td{
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

table{
    text-align: center;
    background-color: rgb(255, 46, 192);
}

th{
    font-size: 25px;
}

td{
    background-color: rgb(255, 
    28, 142);
}

td:hover{
    opacity: 0.8;
}

td, th, tr{
    width: 50px;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botão{
    width: 80px;
    padding: 8px;
    color: black;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(255, 109, 219);
}
.botão:hover{
    opacity: 0.9;
    color: white;
    background-color: rgb(255, 109, 219);
}